:root {
    --sidebar-width: 280px;
    --sidebar-collapsed-width: 70px;
    --sidebar-width-mobile: 100%;
    --main-color: #002E43;
    --main-color-600: #002739;
    --brand-color-200: #91A5AE;
    --brand-color-50: #E6EAEC;
    --gray-900: #131416;
    --gray-800: #252B37;
    --gray-700: #414651;
    --gray-500: #717680;
    --gray-400: #A4A7AE;
    --gray-300: #D5D7DA;
    --gray-200: #E9EAEB;
    --gray-100: #F5F5F5;
    --gray-50: #f8f9fa;
    --gray-25: #f6f8f8;
}

body {
    background-color: var(--gray-50);
}

.sidebar {
    width: var(--sidebar-width);
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background: white;
    transition: width 0.3s;
    z-index: 1000;
    padding: 1rem;
    overflow: hidden auto;
    scrollbar-color: var(--gray-400) var(--gray-100);
    scrollbar-width: thin;

    .nav-link {
        &.show {
            background-color: var(--brand-color-50);
            color: var(--main-color);
        }
    }

    &.collapsed {
        .nav-link {
            padding: 0.5rem;

            &.dropdown-toggle {
                &::after {
                    display: none;
                }
            }
        }

        .dropdown-menu.show {
            position: absolute !important;
            inset: 0px 0px auto auto !important;
            transform: translate3d(0px, 43.2px, 0px) !important;
            border: 0;
            box-shadow: 0 5px 5px #00000012;
        }

        .navbar__logo--sidebar {
            .navbar__logo-text {
                display: none;
            }

            .navbar__logo-icon {
                width: 100%;
                padding: 0;
            }
        }

        .dropdown-toggle {
            &::after {
                display: none;
            }
        }
    }

    .dropdown-toggle {
        &::after {
            margin-inline-start: auto;
            background-image: url('../images/icons/arrow-up-01-round.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 16px;
            height: 16px;
            border: 0;
            transition: transform 0.3s ease-in-out;
            -webkit-transition: transform 0.3s ease-in-out;
            -moz-transition: transform 0.3s ease-in-out;
            -ms-transition: transform 0.3s ease-in-out;
            -o-transition: transform 0.3s ease-in-out;
        }

        &.show {
            &::after {
                transform: rotate(180deg);
                transition: transform 0.3s ease-in-out;
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -webkit-transition: transform 0.3s ease-in-out;
                -moz-transition: transform 0.3s ease-in-out;
                -ms-transition: transform 0.3s ease-in-out;
                -o-transition: transform 0.3s ease-in-out;
            }
        }
    }

    .dropdown-menu {
        transition: display 0.3s ease-in-out;
        -webkit-transition: display 0.3s ease-in-out;
        -moz-transition: display 0.3s ease-in-out;
        -ms-transition: display 0.3s ease-in-out;
        -o-transition: display 0.3s ease-in-out;

        &.show {
            position: relative !important;
            inset: 0 0 0 0 !important;
            transform: none !important;
            border: 0;
            transition: display 0.3s ease-in-out;
            -webkit-transition: display 0.3s ease-in-out;
            -moz-transition: display 0.3s ease-in-out;
            -ms-transition: display 0.3s ease-in-out;
            -o-transition: display 0.3s ease-in-out;
        }

        li:not(:last-child) {
            .dropdown-item {
                &::before {
                    content: "";
                    width: 2px;
                    position: absolute;
                    inset-inline-start: 17px;
                    top: 50%;
                    transform: translateY(42%);
                    height: 26px;
                    background: var(--gray-300);
                }
            }
        }
    }
}


.nav-link {
    color: var(--gray-700);
    padding: 0.75rem 1rem;
    margin: 0.25rem 0;
    border-radius: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

    &:focus,
    &:hover {
        color: var(--main-color);
        background: var(--gray-50);
    }

    &.active {
        background: #e3f2fd;
        color: #1976d2;
    }

    &.nav-link__settings {
        color: var(--gray-500);
    }

    &.bordered {
        border: 1px solid var(--gray-100);
    }
}

.dropdown-custom {
    .dropdown-item {
        padding-inline-start: 1rem;

        &::after {
            display: none;
        }

        &.edit {
            color: #F79009;
        }

        &.valid {
            color: #12B76A;
        }

        &.invalid {
            color: #F04438;
        }
    }
}

.dropdown-item {
    padding: 0.75rem 1rem;
    padding-inline-start: 2rem;
    position: relative;
    transition: 0.2s padding-inline-start ease-in-out;
    -webkit-transition: 0.2s padding-inline-start ease-in-out;
    -moz-transition: 0.2s padding-inline-start ease-in-out;
    -ms-transition: 0.2s padding-inline-start ease-in-out;
    -o-transition: 0.2s padding-inline-start ease-in-out;

    &::after {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50px;
        background-color: var(--gray-300);
        position: absolute;
        inset-inline-start: 15px;
        top: 50%;
        transform: translateY(-50%);
    }

    &.active {
        color: var(--main-color);
        background-color: transparent;
        font-weight: 500;

        &::after {
            background-color: var(--main-color);
        }
    }

    &:hover {
        background-color: transparent;
        padding-inline-start: 1.5rem;
        transition: 0.2s padding-inline-start ease-in-out;
        -webkit-transition: 0.2s padding-inline-start ease-in-out;
        -moz-transition: 0.2s padding-inline-start ease-in-out;
        -ms-transition: 0.2s padding-inline-start ease-in-out;
        -o-transition: 0.2s padding-inline-start ease-in-out;

        &::after {
            background-color: var(--main-color);
        }
    }
}

.navbar__logo {
    display: flex;
    align-items: center;

    .nav-link.dropdown-toggle {
        &:hover {
            background-color: var(--gray-200);
        }
    }

    &.navbar__logo--sidebar {
        .nav-link {

            background-color: var(--gray-25);
            border-color: #E6EAEC;
            border-radius: 16px;
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            -ms-border-radius: 16px;
            -o-border-radius: 16px;
        }

        .navbar__logo-icon {
            background: #fff;
            border-radius: 50px;
            padding: 10px;
        }
    }
}

.navbar__logo-title {
    font-size: 1rem;
    color: #333;
}

.navbar__logo-subtitle {
    font-size: 0.875rem;
    color: #888;
}

.navbar__actions .navbar__action-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid var(--gray-200);

    &:hover {
        background-color: var(--gray-100);
    }
}

.navbar__title {
    text-align: right;
}

.navbar__title-main {
    font-size: 1rem;
    color: #333;
}

.navbar__title-sub-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar__title-sub {
    font-size: 0.875rem;
    color: var(--gray-400);

    &:hover {
        color: var(--gray-600);
    }

    &:not(:last-child)::after {
        content: '>';
        font-size: 0.8rem;
        color: var(--gray-400);
        margin-inline-start: 8px;
    }

    &:last-child {
        color: var(--gray-900);
    }
}

.sidebar__icon {
    display: none;
}

.main-content {
    margin-right: var(--sidebar-width);
    /* padding: 2rem; */
    transition: margin-right 0.3s;
    overflow: hidden auto;
    max-height: 100vh;
    scrollbar-color: var(--gray-400) var(--gray-100);
    scrollbar-width: thin;
}



.stats {
    background-color: var(--gray-50);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.stats__percentage {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
}

.stats__label {
    font-size: 16px;
    color: var(--gray-400);
}

.stats__value {
    font-size: 20px;
    font-weight: bold;
    color: #28a745;
}


.table-custom {
    background: white;
    border-radius: 10px;
}

.status-active {
    background: #e8f5e9;
    color: #2e7d32;
    padding: 0.25rem 0.75rem;
    border-radius: 15px;
}

.status-blocked {
    background: #ffebee;
    color: #c62828;
    padding: 0.25rem 0.75rem;
    border-radius: 15px;
}

.stats-card {
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    padding: 1.2rem;
    margin-bottom: 1rem;
}

.stats-card__content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.stats-card__chart {
    flex-shrink: 0;
}

.stats-card__info {
    flex-grow: 1;
}

.stats-card__title {
    color: var(--gray-400);
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.stats-card__number {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.stats-card__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats-card__period {
    color: var(--gray-400);
    font-size: 0.75rem;
}

.stats-card__growth {
    font-weight: 500;
}

.stats-card__growth--positive {
    color: var(--gray-400);
    font-size: 0.75rem;

    strong {
        color: #039855;
    }
}

.progress-ring {
    width: 50px;
    height: 50px;
    position: relative;
}

.progress-ring__circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.progress-ring__circle--orange {
    background: rgba(255, 152, 0, 0.1);
    border: 4px solid #ff9800;
}

.progress-ring__circle--blue {
    background: rgba(33, 150, 243, 0.1);
    border: 4px solid #2196f3;
}

.progress-ring__percentage {
    font-size: 0.8rem;
    font-weight: bold;
}

/* Dashboard */
.dashboard {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

    .btn-group {
        position: initial;

        .dropdown-toggle::after {
            display: none;
        }

        .btn-outline-secondary {
            border-color: var(--gray-200);
            color: var(--gray-400);
        }
    }
}

/* Actions */
.dashboard__add-btn {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.dashboard__add-btn:hover {
    background-color: var(--main-color-600);
    border-color: var(--main-color-600);
}

.dashboard__export-btn {
    border: 1px solid var(--gray-200);
    color: var(--gray-900);
}

.dashboard__search .form-control {
    padding-right: 16px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%236c757d' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left 10px center;
}



/* Table */
.employee-table {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    th {
        background-color: var(--gray-25);
        font-weight: 500;
        font-size: 12px;
        color: var(--gray-500);
        vertical-align: middle;
    }

    td {
        font-weight: 500;
        font-size: 14px;
        color: var(--gray-900);
        vertical-align: middle;
    }
}


.table-grid-icon {
    color: #6c757d;
}

.employee-table__icon {
    border: 1px solid var(--gray-500);
    padding: 6px;
    border-radius: 8px;
}

/* Employee Info */
.employee-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.employee-info__avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

/* Status Badge */
.status-badge {
    padding: 6px 12px;
    border-radius: 5px;
    font-weight: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.status-badge--active {
    background-color: #ECFDF3;
    color: #039855;
}

.status-badge--inactive {
    background-color: #FEF3F2;
    color: #D92D20;
}

.status-badge--info {
    background-color: #F0F9FF;
    color: #0086C9;
}

.status-badge--pending {
    background-color: var(--gray-100);
    color: var(--gray-600);
}

/* Pagination */
.pagination {
    gap: 5px;
}

.page-link {
    color: var(--gray-500);
    border-color: var(--gray-200);
    padding: 3px 9px;
    display: flex;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

    &:hover {
        color: var(--main-color);
        background-color: var(--gray-100);
        border-color: var(--gray-200);
    }

}

.page-item:first-child .page-link {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.page-item:last-child .page-link {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.page-item.active .page-link {
    color: var(--main-color);
    background-color: transparent;
    border-color: var(--main-color);
}

.pagination-info {
    color: #6c757d;
}

/* RTL Specific */

.table {
    text-align: right;
}

.form-check-input {
    float: right;
    margin-left: 8px;
}

.tabs {
    .nav-item {
        display: flex;

        .nav-link {
            color: var(--brand-color-200);
            margin: 0;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;

            &.active {
                color: var(--main-color);
                border-bottom: 3px solid var(--main-color);
                background-color: transparent;

            }

            &:hover {
                background-color: transparent;
                color: var(--main-color);

            }
        }
    }
}

.form-section {
    border-radius: 10px;
}

.form-section__camera {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ccc;
    height: 150px;
    width: 150px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.form-section__camera input[type="file"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.form-section__camera>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;

    /* &:last-child {
    } */
}

.form-section__camera-icon {
    position: absolute;
}

.dropdown-menu {
    /* max-height: 200px; */
    overflow-y: auto;
}

.form-control,
.btn-outline-secondary.dropdown-toggle {
    border-color: var(--gray-200) !important;
}

.btn-outline-secondary.dropdown-toggle {
    color: #40444C;

    &:hover {
        background-color: var(--gray-100);
    }
}

.form-control[type="date"] {
    text-align: right;
    /* Align text to the right */
    direction: rtl;
    /* For right-to-left languages */
}

input[type="date"i]::-webkit-calendar-picker-indicator {
    background-image: url("../images/icons/calendar2.svg");
}

.form-control[type="date"]::-internal-datetime-container {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse !important;
}

.file-upload {
    border: 2px dashed #ccd1d9;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.file-upload__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.file-upload__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.file-upload__icon {
    background-color: var(--main-color);
    color: white;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.file-upload__text {
    font-size: 14px;
    color: #6c757d;
}

.file-upload__support {
    font-size: 12px;
    color: #adb5bd;
}

.file-upload__input {
    display: none;
}

.file-upload__preview {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.file-upload__preview img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #dee2e6;
    border-radius: 4px;
}

.permission-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.permission-list__header {
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    color: #6c757d;
}

.permission-list__items {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
    background: var(--gray-50);
    border-radius: 10px;
}

.permission-list__item {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    background-color: #f1f5ff;
    border: 1px solid #dbe4f1;
    border-radius: 8px;
    padding: 5px 10px;
    min-width: 100px;
    gap: 5px;
    font-size: 14px;
    color: #0056b3;
}

.permission-list__close {
    background: none;
    border: none;
    color: #2A60B7;
    font-size: 16px;
    cursor: pointer;
    line-height: 1;
}

.permission-list__close:hover {
    color: #b52d3a;
}

.file-preview {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.file-preview__header {
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    color: #6c757d;
}

.file-preview__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    gap: 10px;
}

.file-preview__icon {
    width: 24px;
    height: 24px;
}

.file-preview__name {
    flex: 1;
    text-align: right;
    font-size: 14px;
    color: #333;
}

.file-preview__actions {
    display: flex;
    gap: 10px;
}

.file-preview__action {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #333;
}

.file-preview__action:hover {
    color: #007bff;
}

.action_buttons {
    display: flex;
    /* align-items: end; */
    gap: 10px;
    height: 100%;
    justify-content: flex-end;
}

/* attendence page  */
.card__requests {
    display: flex;
    justify-content: space-around;
    padding-block: 10px;
    margin-bottom: 16px;
    align-items: center;
    background-color: var(--gray-25);
    border: 1px solid var(--brand-color-50);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.card__requests-content {
    h6 {
        font-size: 0.875rem;
        color: #0A1B39;
        font-weight: 500;
    }

    p {
        font-size: 0.75rem;
        color: #83899F;
        margin: 0;
    }

}

.card__requests-icon {
    width: 46px;
    height: 46px;
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
}

.card-borded-dashed {
    border-style: dashed;
}


/* statistics dashboard  */
.statistics {
    min-height: 250px;
}

.statistics__text {
    font-size: 1rem;
    color: #001828;
    margin: 0;
}

.statistics__select {
    .nav-link {
        padding: 0.3rem 0.8rem;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        background-color: var(--main-color);
    }
}

.statistics__chart {
    margin-top: 8px;
}

/* add new company partition page  */

.location__input {
    position: relative;

    .location__input__button {
        position: absolute;
        inset-inline-end: 10px;
        width: 30px;
        height: 30px;
        top: 2px;
        background-color: transparent;
        border: 0;
    }
}

.success-modal {
    border-radius: 1rem;
    border: none;
    padding: 2rem 1rem;
}

.success-modal__content {
    text-align: center;
}

.success-modal__emoji {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.success-modal__title {
    color: var(--color-head);
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.success-modal__text {
    color: var(--color-label);
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
}

.success-modal__button {
    width: 100%;
    padding: 1rem;
    background: var(--color-base);
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-family: 'Cairo', sans-serif;
    font-size: 1rem;
    transition: background 0.3s ease;
}

.success-modal__button:hover {
    background: var(--color-head);
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

input.form-control.form-time {
    background-image: url('../images/icons/calendar2.svg');
    background-position: 4px center;
    background-repeat: no-repeat;
    background-size: 22px;
    padding-inline-end: 30px;
}

@media (max-width: 992px) {
    .sidebar {
        width: var(--sidebar-collapsed-width);

        .sidebar__icon {
            display: block;
        }

        .sidebar__logo {
            display: none;
        }


    }

    .sidebar .menu-text {
        display: none;
    }

    .main-content {
        margin-right: var(--sidebar-collapsed-width);
    }
}

@media (max-width: 768px) {
    .main-content {
        opacity: 0;
    }

    .collapsed {
        .main-content {
            opacity: 1;
        }
    }
}

@media (max-width: 550px) {
    .sidebar:not(.collapsed) {
        width: var(--sidebar-width-mobile);
    }

    .dashboard__add-btn,
    .btn-outline-secondary {
        padding: 6px 20px;
        display: flex;
        font-size: 12px;
        align-items: center;
    }


}